* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

header {
  background: #1e293b;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 700px;
  border-radius: 8px;
}

h2 {
  margin-bottom: 10px;
  color: #1e293b;
}

ul {
  list-style: none;
}

ul li {
  background: #e5e7eb;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}

.projeto {
  background: #f1f5f9;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
}

footer {
  background-color:#1e293b ;
  text-align: center;
  padding: 15px;
  color: white;
}